<div>
  <div class="flow-root mt-6">
    <ul role="list" class="-my-5 divide-y divide-gray-200">
      <% @data["memos"].each do |memo| %>
        <li class="py-5">
          <div class="relative focus-within:ring-2 focus-within:ring-indigo-500 p-4">
            <h3 class="text-sm font-semibold text-gray-800">
              <a href="#" class="hover:underline focus:outline-none">
                <!-- Extend touch target to entire panel -->
                <span class="absolute inset-0" aria-hidden="true"></span>
                <%= memo["title"] %>
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-600 line-clamp-2">
              <%= memo["content"] %>
            </p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= render(:erb, :'shared/links') %>
