<!doctype html>

<html lang="jp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Sinatra Memo App</title>
  <meta name="description" content="A simple memo app by sinatra">
  <meta name="author" content="Koji Ishimoto">

  <meta property="og:title" content="Sinatra Memo App">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://kojii.jp">
  <meta property="og:description" content="A simple memo app by sinatra">
  <%# <meta property="og:image" content="image.png"> %>

  <link rel="icon" href="/image/favicon.ico">
  <link rel="icon" sizes="16x16" href="/image/favicon.ico" />
  <link rel="icon" type="image/svg+xml" href="/image/favicon.svg">
  <link rel="apple-touch-icon" href="/image/apple-touch-icon.png">
  <link rel="manifest" href="/image/site.webmanifest" />
  <link rel="stylesheet" href="/css/output.css">
</head>

<body>
  <main class="container max-w-2xl px-6 py-8 mx-auto sm:px-8 lg:px-10">
    <div class="space-y-8">
      <h1 class="text-4xl font-extrabold tracking-tight text-gray-900 sm:text-5xl">
        <a href="/">Memo APP</a>
      </h1>
      <%= yield %>
      <%= render(:erb, :'shared/links') %>
    </div>
  </main>
</body>
</html>
